<!DOCTYPE html>
<html lang="en">
<head>
    <title>Schedule Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://use.typekit.net/szh3fro.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="topnav">
    <a class="active" href="#home">Home</a>
</div>
<style>
.topnav {
  background-color: #2b5797;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #5bbad5;
  color: white;
}
.thead {
    background-color: #2b5797;
    color: white;
}
.my-header {
    color: #5bbad5;
}
.sub-heading {
    color: #2b5797
}
</style>
<h1 class="my-header">Drake University's Computer Science and Math Department Schedule Maker</h1>
<form method="POST">
    <div class="mb-3">
        <label for="major-select" class="form-label">Choose Major</label>
        <select id="major-select" name="major" class="form-select">
            <option value="">--Please choose an option--</option>
            <option value="CS">Computer Science</option>
            <option value="AI">Artificial Intelligence</option>
            <option value="DA">Data Analytics</option>
            <option value="MATH">Math</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="2nd-major-select" class="form-label">Choose Second Major</label>
        <select id="2nd-major-select" name="2nd-major" class="form-select">
            <option value="">None</option>
            <option value="CS">Computer Science</option>
            <option value="AI">Artificial Intelligence</option>
            <option value="DA">Data Analytics</option>
            <option value="MATH">Math</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="minor-select" class="form-label">Choose Minor</label>
        <select id="minor-select" name="minor" class="form-select">
            <option value="">None</option>
            <option value="CYB">Cyber Security</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</html>
